body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  max-width: 1920; }

.jumbotron {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background: url("images/bg.png") center/cover; }

.navigation {
  list-style: none;
  margin-top: 5px;
  margin-right: 250px;
  height: 1px;
  line-height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.navigation a {
  text-decoration: none;
  display: block;
  color: white; }

.flex-nav-item {
  padding: 0 30px;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 15px; }

.logo {
  justify-content: flex-start;
  margin-left: 250px;
  padding: 30px;
  font-size: 30px;
  color: white;
  font-weight: bold; }

.contact-btn {
  border: solid 1px white;
  border-radius: 25px;
  line-height: 30px; }

.logo-style-2 {
  font-weight: 300; }

.logo-style-1 {
  font-weight: 700; }

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  padding: 30px;
  margin: 0 auto;
  flex-flow: column; }

.header-promo {
  color: white; }
  .header-promo h1 {
    font-size: 35px;
    width: 100%; }
  .header-promo p {
    opacity: 0.4; }

.btn-header {
  padding: 10px; }

.btn-header:hover {
  transform: scale(1.1); }

.scroll {
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end; }

.icon-section {
  display: flex;
  height: 30vh;
  width: 80%;
  margin: 5% 10%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  text-align: center; }
  .icon-section h3 {
    font-size: 30px;
    background: linear-gradient(45deg, #c10029, #e06a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .icon-section p {
    font-size: 15px; }

.icon-ask {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 20vh; }

.icon-item {
  width: 350px;
  padding: 30px; }

.drone-section {
  display: flex;
  height: 60vh;
  width: 90%;
  margin: 5% 10%;
  justify-content: left;
  align-self: flex-start;
  background-image: url("images/drone-back.png");
  background-repeat: no-repeat;
  background-position: right; }

.drone-info h1 {
  font-size: 50px;
  background: linear-gradient(45deg, #c10029, #e06a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.drone-info p {
  width: 700px; }

.drone-list {
  width: 60vw;
  display: flex;
  height: 400px;
  flex-flow: column wrap;
  overflow: auto;
  align-content: flex-start; }

.drone-item {
  padding: 30px;
  width: 400px;
  align-self: flex-start; }
  .drone-item img {
    float: left; }

.portfollio {
  display: flex;
  width: 100%;
  height: 65vh; }

.vid-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.5vw;
  background-image: url("images/foto-top.png");
  background-repeat: no-repeat; }

.vid-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55.5vw;
  background-image: url("images/foto-bottom.png");
  background-repeat: no-repeat;
  background-position: right; }

.port-content {
  display: flex;
  width: 44.5vw;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 5% 5%; }
  .port-content h2 {
    font-size: 45px;
    background: linear-gradient(45deg, #c10029, #e06a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .port-content p {
    width: 700px;
    line-height: 40px; }

.newsletter {
  width: 100%;
  height: 51.7vh;
  display: flex;
  background-image: url("images/news-bg.png");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .newsletter h1 {
    color: white;
    font-size: 50px; }

form {
  margin-left: -50px; }

.email-input {
  width: 190px;
  height: 38px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  outline: 0;
  border: 0;
  padding: 5px 55px;
  color: white; }

.send-btn {
  width: 140px;
  height: 48px;
  margin: -44px;
  border-radius: 25px;
  background-image: linear-gradient(135deg, #e06a00 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 300%;
  color: #e06a00;
  font-size: 20px;
  text-align: center;
  outline: 0;
  border: 0;
  transition: 0.4s;
  cursor: pointer; }

.send-btn:hover {
  background-position: 0 100%;
  color: white;
  border: 1px solid white; }

/*# sourceMappingURL=style.css.map */
